<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929069127873-gqk02ktb9a4cubfecn0d980i6o7vdcci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929069127873-gqk02ktb9a4cubfecn0d980i6o7vdcci</string>
	<key>API_KEY</key>
	<string>AIzaSyBDDFfjJdKz3KStOIAO3menW6g7Fr8f-Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>929069127873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-ebeb8</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-ebeb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929069127873:ios:3cbe52eeffde7299731c40</string>
</dict>
</plist>